.contato {
  text-align: center;
  background-color: $color-bg-secondary;

  .contato--container{
    margin-top: 35px;
    @include flex(center, none, row);
  
    .contato--flex {
      width: 50%;
    }
  }
}