.contato {
  text-align: center;
  background-color: $color-bg-secondary;

  a {
    color: $color-bg-footer;
  }

  a:hover {
    text-decoration: underline;
  }

  .contato--container{
    margin-top: 35px;
    @include flex(flex-start, space-between, row);

    @media (max-width:$tablet-ver){
      flex-direction: column;
    }
  
    .contato--flex {
      text-align: left;
      width: 47%;

      @media (max-width:$tablet-ver){
        width: 100%;
        margin-bottom: 20px;
      }

      h3{
        text-align: left;
      }
      p{
        margin: 10px 0;

        span{
          font-family: $font-logo;
          font-weight: bold;
        }
      }
    }
  }
}