.nav {
  @include container(75%);
  @include flex(center, space-between, row);
  background-color: $color-bg;
  padding: 18px 0;

  p {
    font-weight: 300;
    font-style: italic;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
  }
  
  .navmenu--link:hover{
    color: $light-purple;
  }

  .navmenu--colabore{
    color: $light-purple;
  }

  .navmenu--colabore:hover{
    color: $purple;
    font-weight: bold;
  }
}