.home .header .header--dflex .busca--container__home .busca--campos .busca--btn {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background-color: #ffde5d;
  color: rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 3px;
  padding: 7px 12px;
  margin: 23px 0;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

body h1 {
  font-family: "Special Elite", cursive;
  font-size: 28px;
}

body h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #3c4063;
  margin-bottom: 20px;
}

body h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

body a {
  text-decoration: none;
  color: inherit;
}

body section, body header {
  padding: 60px 0;
}

body .container {
  margin: 0 auto;
  width: 75%;
}

body .small-container {
  margin: 0 auto;
  width: 60%;
}

body .page-container {
  padding: 40px 0;
}

body .header-img {
  height: 150px;
  background-image: url("../img/bg-code.jpg");
  background-size: cover;
  background-position: center;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  opacity: .4;
}

body input:focus, body select:focus, body button:focus {
  outline: 0;
}

.nav {
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  padding: 18px 0;
}

.nav p {
  font-weight: 300;
  font-style: italic;
}

.nav li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.nav .navmenu--link:hover {
  color: #63667e;
}

.nav .navmenu--colabore {
  color: #63667e;
}

.nav .navmenu--colabore:hover {
  color: #3c4063;
  font-weight: bold;
}

.contato {
  text-align: center;
  background-color: #ffde5d;
}

.contato .contato--container {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contato .contato--container .contato--flex {
  width: 50%;
}

footer {
  background-color: #575757;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
}

footer a {
  color: #a8a8a8;
}

.call-to-action {
  color: firebrick;
  text-align: left;
}

.call-to-action p {
  margin: 10px 0;
  font-size: 15px;
}

.call-to-action p span {
  font-weight: bold;
}

.cta--dicio {
  text-align: center;
}

.cta--dicio p {
  line-height: 1.25rem;
}

.cta--docs {
  text-align: center;
  margin-top: 60px;
}

.cta--docs p {
  line-height: 1.25rem;
}

.cta--textos p {
  margin: 5px 0;
}

.cta--textos h4 {
  margin-top: 20px;
}

.home a {
  color: #63667e;
}

.home a:hover {
  text-decoration: underline;
}

.home p {
  margin: 10px 0;
  line-height: 1.5rem;
}

.home .header {
  background-image: url("../img/bg-code.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -800px;
  opacity: .9;
}

.home .header .header--dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .header .header--dflex .apres--container {
  width: 40%;
  text-align: center;
  background-color: #fff;
  padding: 40px 30px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.home .header .header--dflex .apres--container .apres--logo {
  font-family: "Special Elite", cursive;
  font-size: 26px;
}

.home .header .header--dflex .apres--container p {
  margin-top: 15px;
}

.home .header .header--dflex .busca--container__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .header .header--dflex .busca--container__home .busca--campos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .header .header--dflex .busca--container__home .busca--campos h3 {
  margin: 20px;
}

.home .header .header--dflex .busca--container__home .busca--campos input {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 14px;
  padding: 5px 15px;
}

.home .header .header--dflex .busca--container__home .busca--campos select {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 14px;
  padding: 5px;
}

.home .conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .conteudo .conteudo--container {
  width: 30%;
  min-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.home .conteudo .conteudo--container ul {
  margin-bottom: 20px;
}

.home .conteudo .conteudo--container ul li {
  margin: 5px 0 5px 30px;
}

.home .conteudo .conteudo--container a {
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
}

.home .conteudo .conteudo--container .conteudo--dicio span {
  color: rgba(0, 0, 0, 0.6);
}

.artigo {
  margin-bottom: 60px;
}

.artigo .artigo--format {
  margin: 40px 0;
  font-family: "PT Serif", serif;
}

.artigo .artigo--format p {
  margin: 20px 0;
  line-height: 1.5rem;
}

.artigo .artigo--format h2 {
  margin-bottom: 40px;
}

.artigo .artigo--format h3 {
  margin: 30px 0;
}

.artigo .artigo--format h4 {
  margin-top: 40px;
  font-size: 18px;
}

.artigo .artigo--format pre {
  margin: 30px 40px;
  padding: 20px;
  background-color: #e6e6e6;
  line-height: 1.25rem;
}

.artigo .artigo--format figure {
  margin: 30px 0;
  text-align: center;
}

.artigo .artigo--format figure img {
  width: 80%;
}

.artigo .artigo--format figure figcaption {
  font-size: 14px;
  font-style: italic;
}

.artigo .artigo--format li {
  margin: 20px;
}

.artigo .artigo--format a {
  text-decoration: underline;
}

.artigo .artigo--format a:hover {
  color: #63667e;
}

.link--voltar, .link--topo {
  color: #63667e;
  cursor: pointer;
}

.link--voltar:hover, .link--topo:hover {
  text-decoration: underline;
}

.dicionario .dicio--descricao {
  text-align: center;
}

.dicionario .dicio--tabela {
  margin: 60px auto;
  border-spacing: 0;
}

.dicionario .dicio--tabela th, .dicionario .dicio--tabela td {
  min-width: 150px;
  padding: 8px 20px;
}

.dicionario .dicio--tabela th {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.dicionario .dicio--tabela th i {
  margin-left: 15px;
}

.dicionario .dicio--tabela th span {
  cursor: pointer;
}

.dicionario .dicio--tabela td {
  border-bottom: 1px solid #ccc;
}

.dicionario .dicio--tabela .significado {
  color: rgba(0, 0, 0, 0.6);
}

.docs .docs--descricao {
  text-align: center;
}

.docs .docs--lista {
  margin: 50px 20px;
}

.docs .docs--lista p {
  margin: 10px 0;
}

.docs .docs--lista li {
  margin: 10px 0;
}

.docs .docs--lista li a:hover {
  color: #63667e;
}

.artigos .busca--container__artigos {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.artigos .busca--container__artigos .busca--form {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.artigos .busca--container__artigos .busca--form h3 {
  margin: 20px;
}

.artigos .busca--container__artigos .busca--form .busca--input {
  width: 250px;
  font-size: 14px;
  margin-right: 20px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 13px;
  padding: 5px 15px;
}

.artigos .busca--container__artigos .busca--form .busca--input input {
  border: none;
  font-size: 14px;
  width: 90%;
}

.artigos .busca--container__artigos .busca--form .busca--input input:focus {
  outline: none;
}

.artigos .busca--container__artigos .busca--form .busca--input button {
  position: absolute;
  top: 0;
  right: 15px;
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: 4.5px;
  cursor: pointer;
}

.artigos .busca--container__artigos .busca--form .busca--input button i {
  font-size: 18px;
  color: #b8b8b8;
}

.artigos .busca--container__artigos .busca--form select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 13px;
  font-size: 14px;
}

.artigos .busca--container__artigos .busca--form select:focus {
  outline: none;
}

.artigos .busca--container__artigos .btn--vertodos {
  border: none;
  background: transparent;
  color: #63667e;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.artigos .busca--container__artigos .btn--vertodos:hover {
  cursor: pointer;
  text-decoration: underline;
}

.artigos .busca--resultado {
  margin-top: 15px;
  font-style: italic;
}

.artigos .artigos--container {
  margin: 40px auto;
}

.artigos .artigos--container .artigos--item {
  margin-bottom: 25px;
}

.artigos .artigos--container .artigos--item p {
  font-size: 15px;
  margin: 5px 0;
}

.artigos .artigos--container .artigos--item:hover {
  color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=style.css.map */