.artigo{
  margin: 40px auto;
}

#texto-medium{
  margin: 40px 0;
  font-family: 'PT Serif', serif;

  p {
    margin: 20px 0;
    line-height: 1.5rem;
  }

  h2{
    margin-bottom: 40px;
  }

  h3{
    margin: 30px 0;
  }

  h4{
    margin-top: 40px;
    font-size: 18px;
  }

  pre{
    margin: 30px 40px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    line-height: 1.25rem;
  }

  figure{
    margin: 30px 0;
    text-align: center;

    img {
      width: 80%;
    }
  }

  li{
    margin: 20px;
  }

  a{
    // font-style: italic;
    text-decoration: underline;
  }
  
  a:hover{
    color: #63667e;
  }
}

.link--voltar{
  color: #63667e;
}

.link--voltar:hover{
  text-decoration: underline;
}

