.busca {
  margin: 40px auto;
}

.artigos--container {
  margin: 40px 0;
}

.item-lista {
  // font-family: 'PT Serif', serif;
  margin-bottom: 20px;

  p{
    font-size: 15px;
    margin: 5px 0;
  }
}

.item-lista:hover{
  color: rgba(0,0,0,.6);
}

.busca--container__artigos{
  margin: 0 auto;
  @include flex(center, none);

  button{
    border: none;
    background: transparent;
    color: #63667e;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }

  button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}