.dicionario {

  .dicio--descricao {
    text-align: center;

    
  }

  .dicio--descricao::before{
    content: 'Consulte a tradução e o significado de palavras frequentemente usadas em programação:';

    @media (max-width:$mobile){
      content: 'Consulte a tradução de palavras frequentemente usadas em programação:'
    }
  }

  .dicio--tabela {
    margin: 60px auto;
    border-spacing: 0;

    @media (max-width:$mobile){
      margin: 40px auto;
    }

    th, td {
      min-width: 150px;
      padding: 8px 15px;

      @media (max-width:$tablet-hor){
        min-width: unset;
      }
    }

    th {
      text-transform: uppercase;
      padding-bottom: 20px;

      i {
        margin-left: 10px;
      }

      span {
        cursor: pointer;
      }
    }

    td {
      border-bottom: $border;
    }

    .th--significado{

      @media (max-width:$tablet-hor){
        width: 60%;
      }

      @media (max-width:$mobile){
        display: none;
      }
    }

    .significado {
      color: $color-secondary;

      @media (max-width:$tablet-hor){
        width: 60%;
      }

      @media (max-width:$mobile){
        display: none;
      }
    }
  }
}