.dicionario {

  .dicio--descricao {
    text-align: center;
  }

  .dicio--tabela {
    margin: 60px auto;
    border-spacing: 0;

    th, td {
      min-width: 150px;
      padding: 8px 20px;
    }

    th {
      text-transform: uppercase;
      padding-bottom: 20px;

      i {
        margin-left: 15px;
      }

      span {
        cursor: pointer;
      }
    }

    td {
      border-bottom: $border;
    }

    .significado {
      color: $color-secondary;
    }
  }
}