.docs--container {
  margin: 40px auto;

  .docs--descricao {
    text-align: center;
  }
}

.docs--lista {
  margin: 50px 20px;

  p{
    margin: 10px 0;
  }

  li {
    margin: 10px 0;
  
    a:hover {
      color: #63667e;
    }
  }
}
