%button {
  font-family: $font-primary;
  font-size: $fsize-default;
  background-color: $color-bg-secondary;
  color: $color-btn;
  border: none;
  border-radius: 3px;
  padding: 7px 12px;
  margin: 23px 0;
  cursor: pointer;
}