.home {
  a {
    // color: lightslategray;
    // color: #6B72B0;
    color: #63667e;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    margin: 10px;
  }
}

.header {
  padding: 60px 0;
  // background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0) 10%), url('../img/bg-code.jpg');
  background-image: url('../img/bg-code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -800px;
  opacity: .9;
}

.d-flex--header {
  @include flex(center, space-around);
}

.apres--container {
  width: 40%;
  text-align: center;
  background-color: #fff;
  padding: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.busca--container__home{
  @include flex(center, none);
  flex-direction: column;
}

.conteudo {
  @include flex(center, space-evenly);
}

.conteudo--container {
  width: 33%;
  // border: 1px solid #ccc;
  // box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);  
  padding: 20px;
  min-height: 300px;
  @include flex(center, none);
  flex-direction: column;
  position: relative;

  ul {
    margin-bottom: 20px;
  }

  li {
    margin: 5px 0 5px 30px;
  }

  a{
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
  }
}