.home {
  a {
    color: $color-link;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    margin: 10px 0;
    line-height: 1.5rem;
  }

  .header {
    background-image: url('../img/bg-code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -800px;
    opacity: .9;

    .header--dflex {
      @include flex(center, space-around, row);

      .apres--container {
        width: 40%;
        text-align: center;
        background-color: $color-bg;
        padding: 40px 30px;
        box-shadow: $box-shadow;
      
        .apres--logo{
          font-family: $font-logo;
          font-size: 26px;
        }
      
        p{
          margin-top: 15px;
        }
      }

      .busca--container__home{
        @include flex(center, none, column);
      
        .busca--campos {
          @include flex(center, none, column);
        
          h3 {
            margin: 20px;
          }
        
          input {
            @include formInput(280px, $fsize-input);
            padding: 5px 15px;
          }
        
          select {
            @include formInput(280px, $fsize-input);
            padding: 5px;
          }
          
          .busca--btn {
            @extend %button;
          }
        }
      }
    }
  }

  .conteudo {
    @include flex(center, space-evenly, row);

    .conteudo--container {
      width: 30%;
      min-height: 280px;
      @include flex(center, none, column);
      position: relative;
    
      ul {
        margin-bottom: 20px;

        li {
          margin: 5px 0 5px 30px;
        }
      }
    
      a{
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
      }
    
      .conteudo--dicio{
        span{
          color: $color-secondary;
        }
      }
    }
  }
}