.textos {
  margin: 40px auto;
}

.textos--container{
  @include flex(none, none);
  flex-direction: column;
}

.textos--article {
  margin: 40px auto;
  width: 80%;
}

.item-lista {
  width: 300px;
  margin-bottom: 20px;
  cursor: pointer;
}

.item-lista:hover{
  color: rgba(0,0,0,.6);
}

.busca--container__textos{
  margin: 0 auto;
  @include flex(center, none);

  button{
    border: none;
    background: transparent;
    color: #63667e;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }

  button:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}